@import "bootstrap";

header {
	border: 2px solid #000;
	margin-bottom: 20px;
	#banner {
		background: #9c9;
		padding: 10px;
		font-size: 20px;
		color: #282;
		text-align: left;
	}
	ul {
		float: right;
		li {
			list-style: none;
			float: left;
		}
	}
}

#logo {
	float: left;
}

#columns {
	#side {
		float: left;
		padding: 1em 2em;
		width: 10em;
		background: white;
		border-right: 2px solid #9c9;

		ul {
			padding: 0;

			li {
				list-style: none;
				a {
					font-size: small;
					color: #282;
				}
			}
		}
	}

	#main {
		margin-left: 15em;
		padding: 2em;
		background: white;
	}
}