@import "bootstrap";

$backColor: rgb(55,155,215);
$fontColor: #fff;

#banner {
	height: 38px;
	background: $backColor;

	#logo {
		margin: 10px;
		float: left;
		font-size: 20px;
		&:link, &:hover, &:active, &:visited {
			color: $fontColor;
			background: none;		
			text-decoration:none	
		}
	}

	#nav-left {
		font-size: 13px;
		float: left;
		margin-left: 1em;
		padding: 0;

		a{
			color: $fontColor;
			&:hover {
				background: #E0E0E0;	
			}
		}
		
		.dropdown-menu li a{
			color: #000;
		}
	}	

	#nav-right {
		color: $fontColor;
		float: right;
		margin: 10px;

		li {
			font-size: 13px;
			list-style: none;
			float: left;
			margin-left: 0.5em;
		}

		a {
			color: $fontColor;
			&:link, &:hover, &:active, &:visited {
				background: none;
				text-decoration: none;
			}	
		}
	}
}